---
title: Li Yi-Fan Studio
email: liyifan.studio@gmail.com
layout: layout.html
---

<div class="main-body-container">
  <h1 class="main-title">{{ email }}</h1>
  <div class="all-works-nav">
    {% for category in collections.resume %}
    <p>{{ category.data.title }}</p>
    {% endfor %}
  </div>

  <div class="all-works-container">
    {% for work in collections.portfolio %} {%
    include "portfolio.html" %} {% endfor %}
  </div>
</div>

<div
  id="background"
  class="background-container"
></div>
